@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.government,
.government:nth-of-type(even),
.government:nth-of-type(odd) {
  background-color: rgb(74, 125, 165);
  font-weight: bolder;
}

.intercompany,
.intercompany:nth-of-type(even),
.intercompany:nth-of-type(odd) {
  background-color: rgb(146, 255, 109);
  font-weight: bolder;
}

.foreign,
.foreign:nth-of-type(even),
.foreign:nth-of-type(odd) {
  background-color: rgb(255, 245, 109);
  font-weight: bolder;
}

.nbar,
.nbar:nth-of-type(even),
.nbar:nth-of-type(odd) {
  background-color: rgb(226, 10, 10);
  font-weight: bolder;
}

.contra,
.contra:nth-of-type(even),
.contra:nth-of-type(odd) {
  background-color: rgba(255, 7, 205, 0.783);
  font-weight: bolder;
}

.warning {
  background-color: rgb(255, 174, 0);
}

.pop-up {
  background-color: yellowgreen;
}

body {
  margin: 0;
  padding: 2rem;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
th,
td {
  padding: 0.25rem;
}
tr.red th {
  background: red;
  color: white;
}
tr.green th {
  background: green;
  color: white;
}
tr.purple th {
  background: purple;
  color: white;
}
th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

#exam-lines {
  background-color: rgb(186, 252, 71);
}

#exam-total {
  background-color: darkolivegreen;
}

.chart {
  height: 800px;
}
