@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.government,
.government:nth-of-type(even),
.government:nth-of-type(odd) {
  background-color: rgb(74, 125, 165);
  font-weight: bolder;
}

.intercompany,
.intercompany:nth-of-type(even),
.intercompany:nth-of-type(odd) {
  background-color: rgb(146, 255, 109);
  font-weight: bolder;
}

.foreign,
.foreign:nth-of-type(even),
.foreign:nth-of-type(odd) {
  background-color: rgb(255, 245, 109);
  font-weight: bolder;
}
